USE [QuanLyNhanSu]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 5/17/2022 6:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [varchar](20) NOT NULL,
	[TENCV] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONG]    Script Date: 5/17/2022 6:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONG](
	[MACONG] [varchar](20) NOT NULL,
	[MANV] [varchar](20) NULL,
	[GIOCONGCHUAN] [int] NULL,
	[GIOCONG] [int] NULL,
	[THANG] [int] NULL,
	[NAM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MACONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOPDONG]    Script Date: 5/17/2022 6:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOPDONG](
	[MAHD] [varchar](20) NOT NULL,
	[MANV] [varchar](20) NOT NULL,
	[NGAYKY] [date] NOT NULL,
	[HANHD] [date] NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 5/17/2022 6:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[MALUONG] [varchar](20) NOT NULL,
	[MANV] [varchar](20) NULL,
	[MUCLUONG] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGHIVIEC]    Script Date: 5/17/2022 6:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGHIVIEC](
	[MANGHI] [varchar](20) NOT NULL,
	[MANV] [varchar](20) NOT NULL,
	[NGAYNGHI] [date] NOT NULL,
	[NGHIDEN] [date] NOT NULL,
	[LYDONG] [nvarchar](max) NOT NULL,
	[HUONGLUONG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANGHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/17/2022 6:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](20) NOT NULL,
	[MAPB] [varchar](20) NOT NULL,
	[MACV] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](255) NOT NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [int] NULL,
	[CMND] [varchar](20) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[DIENTHOAI] [varchar](20) NULL,
	[HOCVAN] [nvarchar](255) NULL,
	[TRANGTHAI] [int] NOT NULL,
	[EMAIL] [varchar](255) NOT NULL,
	[SOBHYT] [varchar](20) NULL,
	[SOBHXH] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGBAN]    Script Date: 5/17/2022 6:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGBAN](
	[MAPB] [varchar](20) NOT NULL,
	[MAVP] [varchar](20) NOT NULL,
	[TENPB] [nvarchar](255) NOT NULL,
	[MOTA] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHTOANLUONG]    Script Date: 5/17/2022 6:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHTOANLUONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [varchar](20) NOT NULL,
	[MALUONG] [varchar](20) NOT NULL,
	[MACONG] [varchar](20) NOT NULL,
	[THANG] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[TAMUNG] [money] NULL,
	[THUONG] [money] NULL,
	[KHAUTRU] [money] NULL,
	[THUCLINH] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERDATA]    Script Date: 5/17/2022 6:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERDATA](
	[USERNAME] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](255) NOT NULL,
	[MANV] [varchar](20) NULL,
	[ROLE] [int] NOT NULL,
	[AVATAR] [image] NULL,
	[AVATARURL] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VANPHONG]    Script Date: 5/17/2022 6:28:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VANPHONG](
	[MAVP] [varchar](20) NOT NULL,
	[TENVP] [nvarchar](255) NOT NULL,
	[DIACHIVP] [nvarchar](255) NOT NULL,
	[SDTVP] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[THANHTOANLUONG] ADD  DEFAULT ((0)) FOR [TAMUNG]
GO
ALTER TABLE [dbo].[THANHTOANLUONG] ADD  DEFAULT ((0)) FOR [THUONG]
GO
ALTER TABLE [dbo].[THANHTOANLUONG] ADD  DEFAULT ((0)) FOR [KHAUTRU]
GO
ALTER TABLE [dbo].[CONG]  WITH CHECK ADD  CONSTRAINT [FK_CONG_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[CONG] CHECK CONSTRAINT [FK_CONG_NV]
GO
ALTER TABLE [dbo].[HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_HD_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOPDONG] CHECK CONSTRAINT [FK_HD_NV]
GO
ALTER TABLE [dbo].[NGHIVIEC]  WITH CHECK ADD  CONSTRAINT [FK_NGHI_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NGHIVIEC] CHECK CONSTRAINT [FK_NGHI_NV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_CV] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_CV]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NV_PB] FOREIGN KEY([MAPB])
REFERENCES [dbo].[PHONGBAN] ([MAPB])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NV_PB]
GO
ALTER TABLE [dbo].[PHONGBAN]  WITH CHECK ADD  CONSTRAINT [FK_PB_VP] FOREIGN KEY([MAVP])
REFERENCES [dbo].[VANPHONG] ([MAVP])
GO
ALTER TABLE [dbo].[PHONGBAN] CHECK CONSTRAINT [FK_PB_VP]
GO
ALTER TABLE [dbo].[THANHTOANLUONG]  WITH CHECK ADD  CONSTRAINT [FK_TTL_CONG] FOREIGN KEY([MACONG])
REFERENCES [dbo].[CONG] ([MACONG])
GO
ALTER TABLE [dbo].[THANHTOANLUONG] CHECK CONSTRAINT [FK_TTL_CONG]
GO
ALTER TABLE [dbo].[THANHTOANLUONG]  WITH CHECK ADD  CONSTRAINT [FK_TTL_LUONG] FOREIGN KEY([MALUONG])
REFERENCES [dbo].[LUONG] ([MALUONG])
GO
ALTER TABLE [dbo].[THANHTOANLUONG] CHECK CONSTRAINT [FK_TTL_LUONG]
GO
ALTER TABLE [dbo].[THANHTOANLUONG]  WITH CHECK ADD  CONSTRAINT [FK_TTL_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[THANHTOANLUONG] CHECK CONSTRAINT [FK_TTL_NV]
GO
ALTER TABLE [dbo].[USERDATA]  WITH CHECK ADD  CONSTRAINT [FK_USER_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[USERDATA] CHECK CONSTRAINT [FK_USER_NV]
GO
